<section>
[% IF data %]
	Hi! [% name %]
	<section>
		<ul>
			[% FOR v IN data %]
			<li>[% v.created_time %] [% v.from.name %] [% v.message %]</li>
			[% END %]
		</ul>
	</section>
[% ELSE %]
<script>top.location.href="/auth/facebook/authenticate"</script>
[% END %]
</section>
