[% WRAPPER 'include/layout.tt' %]
<section>
[% IF data %]
	Hi! [% name %]
	<section>
		<ul>
			[% FOR v IN data %]
			<li>[% v.created_time %] [% v.from.name %] [% v.message %]</li>
			[% END %]
		</ul>
	</section>
[% ELSE %]
<a href="/auth/facebook/authenticate">login</a>
[% END %]
</section>
[% END %]
